.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo{
    height: 25px;
}

.login button{
    background-color:white;
    border: none;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 5px 4px;
    text-decoration: underline;
    cursor: pointer;
}

